# --- CONFIGURACIÓ BACKEND ---
PORT=3000
JWT_SECRET=
JWT_REFRESH_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# --- CONFIGURACIÓ MONGODB ---
MONGO_USER=root
MONGO_PASSWORD=password
MONGO_DB=ecommerce
MONGO_URI=mongodb://root:password@mongo:27017/ecommerce?authSource=admin

# --- CONFIGURACIÓ FRONTEND ---
VITE_API_URL=http://localhost:3000/api
